.menuContainer{
    width: 95%;
    margin: auto;
    display:flex;
    justify-content:center;
    align-items:center;

    position: relative;


}

.dishDetailContainer{
    width: 50%;    
    display:flex;
    flex-wrap: wrap;
    justify-content:center;
    align-items:center;    
    position:absolute;
    left:0
}


.menuStats{
    padding-left:80px;
    position:absolute;
    right: 140px;
    

    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}

.stats{
    margin:15px;
    font-size: 25px;
}