.login{
    background-image: url('https://img.freepik.com/foto-gratis/vista-superior-verduras-frescas-como-pimiento-zanahoria-cebollas-pan-mesa-luz-comida-vegetal-vitamina_140725-34482.jpg?w=740');
    background-repeat: no-repeat;
    background-size: cover;
    height: 80vh;
    border-radius:20px;
    
}