@media screen and (max-width:575px ){
    .dishDetailSearch{
        display:flex;
        flex-direction:column;
    }
}

/*Celulares landscape - sm de bootstrap*/
@media screen and (min-width:576px ) and (max-width:767px){
   .dishDetailSearch{
        display:flex;
        flex-direction:column;
        
    } 
}